
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to hide scrollbar */
@layer utilities {
  /* For Chrome, Safari, and Opera */
 .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge, and Firefox */
 .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}